* {
    font-family: monospace;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    background-color: black;
}

.span-color {
    color: aqua;
}

/* Header section */

header {
    width: 100%;
    height: 50px;
    margin-top: 30px; 
    margin-bottom: 30px; 
}

nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: left; 
    align-items: center;
}

nav span {
    transition: .5s;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#logo {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 45px;
    font-weight: bolder;  
}

.links {
    margin-left: 20px;
    margin-right: 20px;
}

.links:hover .links-span{
    padding-right: 5px;
    padding-left: 5px;
}

/* Section with pic and description */

#intro {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    border-top: 5px solid rgb(193, 193, 193);
}

#intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, .3);
    backdrop-filter: blur(3px);
}

#bio-pic {
    position: absolute;
    left: 3%;
    width: 30%;
    height: 100%;
}

#bio-pic img {
    position: relative;
    top: 8%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bio {
    position: absolute;
    left: 45%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    background-color: black;
    border-radius: 25px;
    opacity: .9;
    color: rgb(219, 219, 219);
    font-size: 25px;
    animation-name: bio-animation;
    animation-duration: 3s;
}

#bio h2 {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0;
}

#bio p {
    font-size: .9em;
    line-height: 2.5;
}

.bio-text {
    margin-left: 2%;
    visibility: hidden;
    animation-name: bio-text-animation;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes bio-animation {
    0% {left: 100%; height: 1%;}
    50% {left: 45%; height: 1%;}
    100% {left: 45%; height: 80%;}
}

@keyframes bio-text-animation {
    0% {visibility: hidden;}
    100% {visibility: visible;}
}

/* About me section */

#about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 5px solid rgb(193, 193, 193);
    border-bottom: 5px solid rgb(193, 193, 193);
}

#about-me h1 {
    font-size: 50px;
    margin-top: 6%;
    margin-top: 7%;
}

#about-me p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 25px;
    line-height: 2;
}

/* Projects section */

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 5px solid rgb(193, 193, 193);
}

#main-project {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: blue;
    border-right: 5px solid rgb(193, 193, 193);
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
    color: white;
}

#cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255, .2);
    transition: .5s;
}

#cover h1 {
    text-align: center;
    width: 100%;
    font-size: 0px;
    background-color: rgb(0, 0, 0, .4);
    transition: .5s;
}

#main-project img {
    width: 100%;
    height: 100%;
    object-fit: cover; ;   
}

#main-project:hover #cover{
    backdrop-filter: blur(4px);
}

#main-project:hover #horiseon {
    font-size: 40px;
    background-color: rgb(0, 0, 0, .4);
}

#other-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color:rgb(193, 193, 193);
}

.projects {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49.5%;
    background-color: rgb(113, 113, 113);
    cursor: pointer;
}

.projects:hover {
    background-color: rgb(80, 80, 80);
}

/* Footer section */

#contacts {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-box {
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

#contact-info {
    margin-left: 2%;
}

#contact-info h1 {
    margin: 0;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 10%;
    margin-bottom: 10%;
}

#contact-info p {
    margin-bottom: 8%;
    font-size: 15px;
}

#socials h1 {
    margin: 0;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 10%;
    margin-bottom: 6%;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#social-links a {
    margin-top: 3%;
    font-size: 15px;
}

#social-links a:hover {
    color: aqua;
}










