* {
    font-family: monospace;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    background-color: black;
}

.span-color {
    color: aqua;
}

/* Header section */

header {
    width: 100%;
    height: 50px;
    margin-top: 30px; 
    margin-bottom: 30px; 
}

nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: left; 
    align-items: center;
}

nav span {
    transition: .5s;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#logo {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 45px;
    font-weight: bolder;
  
}

.links {
    margin-left: 20px;
    margin-right: 20px;
}

.links:hover .links-span{
    padding-right: 5px;
    padding-left: 5px;
}

/* Section with pic and description */

#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    border-bottom: 5px solid rgb(193, 193, 193);
    border-top: 5px solid rgb(193, 193, 193);
    background-image: url("img/programming-code-coding-or-hacker-background-programming-code-icon-made-with-binary-code-digital-binary-data-and-streaming-digital-code-matrix-background-with-digits-1-0-illustration-vector.jpg");
    background-position: center;
}

#bio-pic {
    width: 400px;
    height: 400px;
    margin-left: 50px;
    border-radius: 50%;
    border: 1px solid rgb(193, 193, 193);
    background-color: black;
    background-image: url("img/bio_pic_resized.png");
    background-position: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: black;
    border-radius: 25px;
    opacity: .9;
}

#bio h2 {
    text-align: center;
    width: 100%;
    color: white;
}

#bio h2 {
    margin: 0;
    height: 20%;
    font-size: 40px;
}

#info-and-button {
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#info-and-button p {
    text-align: center;
    width: 100%;
    height: 80%;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
    line-height: 1.5;
}

#info-and-button button {
    width: 130px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(94, 94, 255);
    opacity: 1;
    transition: .5s;
}

#info-and-button button:hover {
    background-color: rgb(38, 38, 255);
}

#learn {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

/* About me section */

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 5px solid rgb(193, 193, 193);
}

#about-me h1 {
    font-size: 50px;
    margin-top: 5%;
    margin-top: 7%;
}

#about-me p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 20px;
    line-height: 2;
}

/* Projects section */

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 5px solid rgb(193, 193, 193);
}

#main-project {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: blue;
    background-image: url("img/01-html-css-git-homework-demo.png");
    border-right: 5px solid rgb(193, 193, 193);
    cursor: pointer;
    transition: 1s;
}

#cover {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s;    
}

#cover-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0%;
    background-color: rgb(0, 81, 119);
    transition: .5s;
}

#horiseon {
    text-decoration: none;
    font-size: 0px;
    color: white;
    transition: .5s;
}

#cover:hover {
    background-color: rgb(232, 232, 232, .4);
}

#cover:hover #cover-title {
    content: "Horiseon";
    height: 7%;
}

#cover:hover #horiseon {
    font-size: 40px;
}

#other-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    background-color:rgb(193, 193, 193);
}

.projects {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49.5%;
    background-color: rgb(113, 113, 113);
    cursor: pointer;
}

.projects:hover {
    background-color: rgb(80, 80, 80);
}

/* Footer section */

#contacts {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-box {
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}

#contact-info {
    margin-left: 2%;
}

#contact-info h1 {
    margin: 0;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 10%;
    margin-bottom: 10%;
}

#contact-info p {
    margin-bottom: 8%;
    font-size: 15px;
}

#socials h1 {
    margin: 0;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 10%;
    margin-bottom: 6%;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#social-links a {
    margin-top: 3%;
    font-size: 15px;
}

#social-links a:hover {
    color: aqua;
}



